faster-whisper
numpy
PyAudio==0.2.14
scipy
silero-vad
speechbrain
torch
torchaudio
vosk==0.3.45
pywebview
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-Quartz
pyobjc-framework-WebKit
pyobjc-framework-Security
pyvirtualcam
opencv-python
python-docx
reportlab
mss
pyinstaller
